body {
    background-color: yellow;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
    height: 500px;
}

h2 {
    color: yellow;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: rgb(0, 250, 0);
}

.result-container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

.result-container.fraud {
    background-color: black;
    color: yellow;
}

.result-container.safe {
    background-color: #222200;
    color: yellow;
}

.prediction-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}

.probability {
    font-size: 1.2rem;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-back:hover {
    background-color: rgb(0, 250, 0);
}
